/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

/*========== START OF VARIABLES CSS ==========*/
:root {
  /*========== Colours ==========*/
  --primary-colour:  #00e472;
  /* #00e472 ||| #FEFE30 || 02c262 */
  --hover-primary-colour: #16ff8a;
  --secondary-colour-white: #ffffff;
  --tertiary-colour: rgba(255, 255, 255, 0.46);
  --primary-bg-colour: #181818;
  --secondary-bg-colour: #212121;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --lineheight: 1.6;
  --main-headiing: 2.75rem;
  --heading-1: 2rem;
  --heading-2: 1.25rem;
  --heading-3: 0, 875rem;
  --paragraph-1: 1rem;
  --button: 1.5rem;

  /*========== Font Weight ==========*/
  --bold: 700;
  --semi-bold: 600;
  --medium: 500;
  --regular: 400;
  --light: 300;
  --thin: 200;

  /*========== Border Radius ==========*/
  --border-radius-default: 0px;
  /*========== Max-width : Margin ==========*/
  --max-width: 87rem;
  --default-margin: 0px auto;
}
@media screen and (max-width: 1440px) {
  :root {
    /*========== Font and typography ==========*/
    --main-headiing: 2.5rem;
    --heading-1: 2rem;
    --heading-2: 1.25rem;
    --heading-3: 0.875rem;
    --paragraph-1: 1rem;
    --button: 1.2rem;
  }
}
@media screen and (max-width: 1024px) {
  :root {
    /*========== Font and typography ==========*/
    --main-headiing: 2.3rem;
    --heading-1: 1.8rem;
    --heading-2: 1.1rem;
    --heading-3: 0.8rem;
    --paragraph-1: 0.9rem;
    --button: 1rem;
  }
}
@media screen and (max-width: 768px) {
  :root {
    /*========== Font and typography ==========*/
    --main-headiing: 2.2rem;
    --heading-1: 1.6rem;
    --heading-2: 1rem;
    --heading-3: 0.7rem;
    --paragraph-1: 0.8rem;
    --button: 0.875rem;
  }
}

@media screen and (max-width: 320px) {
  :root {
    /*========== Font and typography ==========*/
    --main-headiing: 2rem;
    --heading-1: 1.4rem;
    --heading-2: 0.8rem;
    --heading-3: 0.6rem;
    --paragraph-1: 0.8rem;
    --button: 0.875rem;
  }
}

/*========== END OF VARIABLE CSS ==========*/
* {
  font-family: var(--body-font);
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0px auto;
  font-family: var(--body-font);
}
h1,
h2,
h3,
p {
  margin: 0px;
}
a {
  text-decoration: none;
  font-family: var(--body-font);
}
section {
  margin: 0px auto;
  width: 100vw;
}
::selection {
  color: var(--primary-bg-colour);
  background: var(--primary-colour);
}

/* ====== Key Frames ========== */

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translatex(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInLeftCta {
  0% {
    transform: translatex(-150%);
    opacity: 0;
  }
  50% {
    transform: translatex(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  @keyframes slideInLeftCta {
    0% {
      transform: translatex(-100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
/* ====== START OF HEADER SECTION ========== */
#header_section {
  background-color: var(--primary-bg-colour);
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.185);
}
#header_container {
  max-width: var(--max-width);
  margin: var(--default-margin);
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
}
@media screen and (max-width: 426px) {
  #header_container {
    height: 4rem;
  }
}

.logo {
  color: var(--secondary-colour-white);
  font-size: var(--heading-2);
  font-weight: var(--bold);
}
.logo-dot {
  color: var(--primary-colour);
}
.Menu-List {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  box-sizing: border-box;
}
.menu-list-items a:hover {
  color: var(--primary-colour);
  border-bottom: 2px solid var(--primary-colour);
  padding-bottom: 2.25rem;
}
@media screen and (max-width: 768px) {
  .Menu-List {
    display: none;
  }
}

.menu-list-items a {
  font-weight: var(--heading-2);
  text-decoration: none;
  color: var(--secondary-colour-white);
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-bottom: 0.4rem;
  box-sizing: border-box;
}
.menu-list-item.active {
  font-weight: var(--semi-bold);
  border-bottom: 3px solid var(--primary-colour);
}

/* ====== END OF HEADER SECTION ========== */

/* ====== START OF HERO SECTION ========== */
#hero_section {
  background-color: var(--primary-bg-colour);
  /* height: 90vh; */
}
#hero_Container {
  height: 90vh;
  max-width: var(--max-width);
  margin: var(--default-margin);
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  align-items: center;
}
@media screen and (max-width: 768px) {
  #hero_Container {
    padding-top: 5vh;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    height: auto;
    padding-bottom: 50px;
  }
}
.hero_section_left h2 {
  font-size: var(--heading-1);
  color: var(--secondary-colour-white);
  font-weight: var(--medium);
  margin-bottom: 0.4rem;
  /* animation: 1s ease-out 0s 1 slideInLeft; */
}
.hero_section_left h1 {
  font-size: var(--main-headiing);
  font-weight: var(--semi-bold);
  color: var(--primary-colour);
  margin-bottom: 0.6rem;
  /* animation: 1s ease-out 0s 1 slideInLeft; */
}

.hero_section_left p {
  font-size: var(--paragraph-1);
  font-weight: var(--regular);
  color: var(--tertiary-colour);
  margin-bottom: 2rem;
  /* animation: 1.4s ease-out 0s 1 slideInLeft; */
}
.hero_section_cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 70%;
  /* margin-top: 1rem; */
  /* animation: 1.7s ease-out 0s 1 slideInLeft; */
}

.cta_secondary {
  border: 2px solid var(--secondary-colour-white);
  border-radius: var(--border-radius-default);
  background-color: var(--primary-bg-colour);
  font-size: var(--button);
  padding: 0.8rem;
  font-weight: var(--medium);
  transition: 0.3s ease-in-out;
  border-radius: 2rem;
  text-align: center;
}
.cta_secondary a{
  color: var(--secondary-colour-white);
 
}

.cta_primary {
  border: 2px solid var(--primary-colour);
  background-color: var(--primary-colour);
  border-radius: var(--border-radius-default);
  font-size: var(--button);
  padding: 0.8rem;
  font-weight: var(--medium);
  transition: 0.3s ease;
  border-radius: 2rem;
  text-align: center;
  cursor: pointer;
  position: relative;
  
}
.cta_primary a{
  color: var(--primary-bg-colour);
}
.cta_primary a::after, .cta_secondary a::after{
  content:">";
  padding-left: -100px;
  opacity: 0;
  display: none;
  transition: 0.3s ease;

}
.cta_primary a:hover:after, .cta_secondary a:hover:after{
  padding-left: 10px;
  transition: 0.3s ease;
  display: inline;
  opacity: 1;
 
 
}
.cta_secondary:hover,
.cta_primary:hover  {
  background-color: var(--hover-primary-colour);

  border: 2px solid var(--hover-primary-colour);
}
.cta_secondary:hover a,
.cta_primary:hover a{
  color: var(--primary-bg-colour);
}

@media screen and (max-width: 768px) {
  .hero_section_cta {
    width: 100%;
    /* animation: 1.4s ease-out 0s 1 slideInLeftCta; */
  }
}
@media screen and (max-width: 426px) {
  .hero_section_cta {
    gap: 0.8rem;
    grid-template-columns: 1fr;
    /* animation: 1.5s ease-out 0s 1 slideInLeftCta; */
  }
}

/* ----------------- */

.hero_section_right {
  border: 2px solid var(--primary-colour);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* animation: 1s ease-out 0s 1 slideInRight; */
}

.hero_section_img {
  padding: 10px;
  border-radius: 100%;
  width: 24rem;
  height: 24rem;
}
@media screen and (max-width: 1024px){
  .hero_section_img {
    width: 18.75rem;
    height: 18.75rem;
  }
}
@media screen and (max-width: 768px) {
  .hero_section_right {
    margin-top: 2rem;
  }
  .hero_section_img {
    width: 18.75rem;
    height: 18.75rem;
  }
}

@media screen and (max-width: 426px) {
  .hero_section_right {
    margin-bottom: 1.25rem;
  }
  .hero_section_img {
    width: 70vw;
    height: 70vw;
  }
}

/* ====== END OF HERO SECTION ========== */

/* ====== START OF About Me SECTION ========== */

#aboutme_section {
  background-color: var(--primary-bg-colour);
  /* padding-top: 3.125rem;
  padding-bottom: 3.125rem; */
  height: 90vh;
  display: flex;
  align-items: center;
  margin-top: -5px;
}
@media screen and (max-width: 768px) {
  #aboutme_section {
    height: auto;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
}
#aboutme_container {
  max-width: var(--max-width);
  margin: var(--default-margin);
  padding-left: 10%;
  padding-right: 10%;
}
.aboutme_text h2 {
  font-size: var(--heading-1);
  color: var(--secondary-colour-white);
  font-weight: var(--medium);
  margin-bottom: 1rem;

  width: fit-content;
}
.aboutme_text p {
  font-size: var(--paragraph-1);
  color: var(--tertiary-colour);
  text-align: justify;
}

.aboutme_icons_tab {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.aboutme_icons svg {
  fill: var(--tertiary-colour);
  width: 1.7rem;
  height: 1.7rem;
  transition: 0.3s ease;
}
.aboutme_icons svg:hover {
  fill: var(--secondary-colour-white);
}


/* --about me resume cta -- */

.aboutme_cta_resume {
  width: fit-content;
  border: 2px solid var(--secondary-colour-white);
  border-radius: var(--border-radius-default);
  background-color: var(--primary-bg-colour);
  font-size: var(--button);
  padding: 0.8rem 3rem;
  font-weight: var(--medium);
  transition: 0.3s ease-in-out;
  text-align: center;
  border-radius: 2rem;

}

.aboutme_cta_resume:hover .resume_icon{
  display: inline;
}
.aboutme_cta_resume:hover{
  background-color: var(--hover-primary-colour);
  color: var(--primary-bg-colour);
  border: 2px solid var(--hover-primary-colour);
  transition: 0.3s ease-in-out;
}
.aboutme_cta_resume:hover  a{
  color: var(--primary-bg-colour)
}

@media screen and (max-width: 426px) {
  .aboutme_cta_resume {
    width: 100%;
    padding: 0.8rem 0px;
  }
}
.aboutme_cta_resume a {
  color: var(--secondary-colour-white);
  text-decoration: none;
}

.aboutme_cta_resume a i {
  padding-left: 1rem;
}



/* --- aboutme more ---- */
.aboutme_more_section {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}
.aboutme_more {
  border-bottom: 1px solid var(--secondary-colour-white);
}
.aboutme_more:hover {
  border-bottom: 1px solid var(--primary-colour);
}
.aboutme_more a {
  color: var(--secondary-colour-white);
  font-weight: var(--regular);
  font-size: var(--paragraph-1);
}
.aboutme_more a:hover {
  color: var(--primary-colour);
}
.aboutme_more a::after {
  content: ">";
  opacity: 0;
  color: var(--secondary-colour-white);
  padding-left: -10px;
  transition: 0.3s ease;
}
.aboutme_more a:hover:after {
  opacity: 1;
  padding-left: 15px;
  color: var(--primary-colour);
}

/* ====== END OF About Me SECTION ========== */


